@import "@/assets/css/Utils/_variables.scss";
body {
    margin: 0;
}
  
#app {

    font-family: "ProximaSoft" ,Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $main-text-color;

    display:flex;
}

 /* remove default outline */
 input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}