@mixin floatingLabelInput($type: "input"){
    color:#BFBFBF;
    border:none;
    border-bottom: 2px solid hsl(210deg, 16%, 87%);
    padding: 10px 40px 10px 10px;

    @if($type == "textarea"){
        margin-top: 10px;
        padding: 0px 10px 10px 10px;
    }

    resize: none;
    width:100%;
    height:100%;
    background-color: transparent;

    &:focus {
        border-bottom: 2px solid #42B466
    }

    &:focus ~ .floating-label__options{
        overflow:hidden auto;
        height:fit-content;
        max-height:136px;
        min-height:34px;
        border: 1px solid darken(#ffffff,10%);
    }

    &:focus ~ label, &:valid ~ label{
        opacity: .85;

        @if($type == "textarea"){
            transform:scale(0.80) translateY(-1.9rem) translateX(-0.5rem);
        }
        @else{
            transform: scale(0.80) translateY(-2.9rem) translateX(-0.5rem);
        }   
    } 

    & + label{
        pointer-events:none;
        position: absolute;
        left: 10px;
        @if($type == "textarea"){
            top:10%;
        }
        @else{
            top: 50%;
            transform: translateY(-50%);
        }
        
        transition: opacity .1s ease-in-out,transform .1s ease-in-out;
        color: hsl(0deg, 0%, 75%);

    }
}


.floating-label{
    position:relative;
    width:$small-input;

    & input{
        @include floatingLabelInput(); 
    }

    & textarea{
        @include floatingLabelInput("textarea");
    }

    & img {
        position:absolute;
        top: 50%;
        transform: translateX(-30px) translateY(-50%);
        width:20px;
        filter: invert(70%) sepia(49%) saturate(0%) hue-rotate(0deg) brightness(95%) contrast(106%);
        cursor: pointer;
    }

    &__options{
        position:absolute;
        height: 0px;
        overflow:hidden;
        border:none;
        transition: 0.1s ease-in-out 0.1s;
        background-color:darken(#ffffff,2%);
        border: 0px solid darken(#ffffff,10%);
        //border-radius: 0px 0px 10px 10px;
        width:100%;
        z-index:1;

        & div{
            padding: 5px;
            &:hover{
                background-color:darken(rgb(240, 240, 240), 5);
                cursor: pointer;
            }
        }
    }    
}




.input-form2{
    background-color: #F4F6FA;
    color:#BFBFBF;
    border:none;
    border-radius: 5px;
    padding: 10px 40px 10px 10px;
    resize: none;

    &::placeholder{
        color:#BFBFBF;
    }

    &:focus{
        box-shadow: inset 0px 1px 4px -3px black;
    }
}