@mixin tag($invert : false){

    @if($invert){
        color: #FFF;
        background-color:#C6C6C6;
    }
    @else{
        color: $text-main;
        background-color:$text-background;
    }
    
    height:25px;
    line-height:25px;
    border-radius:5px;
    text-align: center;
    
}