$main-color : #42B466;
$main-darker: #3DA65E;

$second-color:#d1e3ff;
$second-grey:#D1E3F4;

$main-text-color:#2c3e50;


$small-input: 190px;
$medium-input : 380px;
$large-input: 820px;


$text-main : #bbbbbb;
$text-background: #F1F1F1;